.visual i{
      font-size: 52px !important;
    margin-top: -41px !important;
    margin-left: -6px !important;
    opacity: 9 !important;
}
.dashboard-stat .details .desc,.number span{
        font-weight: 600;
}
.yuiop980 .number{
    font-size: 17px !important;
}
.yuiop980 .desc{
    font-size: 14px !important;
}
.YUHGG908 h5{
    font-size: 15px;
    font-weight: 600;
    color: #3d6487;
    border-bottom: 1px solid #e7ecf1;
    padding-bottom: 12px;
}
.table-bordered td,
.table-bordered th{
        text-align: center;
}
.heading th{
   background: #240772;
    color: #fff;
}
.Received{
      background-color: #E91E63;  
}


.__nrfomwrp {
    margin-top: 20px;
    padding: 0;
}

.__nrfomwrp .form-group {
    margin-bottom: 15px !important;
    border-bottom: none !important;
}
.ascawsdscsd {
    width: 100%;
    padding: 0 !important;
    border-left: none !important;
}

.__dthhd{
    
}
.__dthhd h5{
    font-weight: 600;
}
.days-drop-new {
    margin: 5px 0 0 0;
        height: 50px;

}
.mb-3{
    margin-bottom: 15px;
}

.__carpty {
    background: #f1f1f1;
    padding-top: 5px;
  
    padding-bottom: 5px;
}
._top_line{
    border-top: 1px solid #efefef;
}

._bottom_line{
        border-bottom: 1px solid #efefef;
}

.uploaddiv{
    margin-left: 714px;
}





