.pbtWrap {
    /*float: left;*/
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: #ccc 1px solid;  
    padding: 6px 10px 0;    
    border-radius: 5px;
}

.__pbtWrap {
    /*float: left;*/
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: #ccc 1px solid;  
    padding: 6px 10px 0;    
    border-radius: 5px;
    margin-left: 713px;
}


.__pbtfitexfd{
    width: 100%;
    padding-right: 5px;
}

.__pbtWrap .form-control-file  {
    padding: 4px 5px;
    font-size: 14px;
    
}

.__pbtfitexBtn .btn {
    border-radius: 4px;
    font-size: 14px;
 
}

.__btmBtnwrp {
    margin-top: -10px;
    margin-bottom: 15px;
    max-width: 400px;
    float: right;
    
}

.fxdHdr{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

a:hover{
    text-decoration: none;
}

.prmClr{
background-color: #4d148c;
}
.secClr{
    background-color:#ff6200;
}
.bgDarkGry{
    background-color:#d1d0d2;
}
.clrPrm{
    color:#4d148c;
}
.clrSec{
    color:#ff6200;
}
.fntL{
    font-size: 25px;
}
.fnt14{
    font-size:14px !important;
}
.semiBld{
    font-weight: 500;
}
.fontSmall{
    font-size:12px;
}
.brdOrg{
    border:1px solid #ff6200 !important;
}
.brdPrpl{
    border:1px solid #4d148c!important;
}
.bdr25{
    border-radius: 25px !important;
}
.bgGry{
    background-color: #f3f2f2;
}
.contCtr{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.senderDtlTab{
    color: #fff !important;
    display: flex;
    background-color: #ff6200;
    padding: 8px 25px;
}
.icnSuc{
    font-size: 50px;
    background-color: green;
    padding: 15px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
}
.absGps{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 60px;
    color: #4d148c;
}
.lH4{
line-height: 4;
}
.vAlgn{    
    vertical-align: middle;
}
.dGrdEnd{
    display: grid;
    align-items: end;
}
.rdoList .form-check{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    min-width:182px;
}
.ovrHide{
    overflow: hidden;
}
.rotate15{
    transform: rotate(
15deg);
}
.dTbl{
    display: table;
}
.imgMsr h4{
    position: absolute;
    left: 45%;
    top: 0;
}
.wdLine{
    position: relative;
    width: 90%;
    background-color: #000;
}
.wdLine::after{    
    content: "...";
    top: 0;
    margin-top: -10px;
    left: 0;
    background-color: #fff;
    color:#fff;
    padding: 0px 60px;
    font-size: 12px;
    margin-left: 32%;
    position: absolute;

}
.mdlCont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 70px 0px;
}
.mt-150{
    margin-top: 100px !important;
}
.bgWht{
    background-color: #fff !important;
}
.shadow{
    box-shadow: 1px 5px 10px -3px rgba(0,0,0,0.26);
-webkit-box-shadow: 1px 5px 10px -3px rgba(0,0,0,0.26);
-moz-box-shadow: 1px 5px 10px -3px rgba(0,0,0,0.26);
}
.shadowL{
    box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
-webkit-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
}
.shadowM{
    box-shadow:-2px 2px 4px rgba(0,0,0,0.2) !important;
    
}
.xsFont{
    font-size: 11px;
}
.crdAlgn{
    display: flex;
    align-content: center;
    align-items: center;
}
.round{
    border-radius: 100px;
}
.brdBtm{
    border:0px;
    border-bottom:1px solid #888;
    border-radius: 0px;
}
.flxRow{
    flex-direction: row;
}
.round15{
    border-radius: 15px;
}
.hvrCard .card:hover, .hvrCard .card.active{
background-color: #4d148c;
color:#fff;
}
.justifyCont .card-body{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
}
.lineH2, .lineH2 h6{
    line-height: 2;
}

.brRdsL{
    border-radius: 5px 0px 0px 5px !important;
}
.flxEnd{
    justify-content: flex-end;
}
.noWrap{
    white-space: nowrap;
}
.dotBdr{
    border:1px dashed rgba(0,0,0,.125) !important;
}
.bgPrm{
    background-color: #4d148c;
}
.bgSec{
    background-color: #ff6200;
}

.addOnSelect{
    border-radius: 5px 0px 0px 5px;
    min-width: 155px;
}
.addOnRmv{
   border-radius: 0px 5px 5px 0px !important;
    padding: 5px 11px; 
}
/*.dtIcn::after{*/
/*    content:url(https://project.granddubai.com/sendlow/css/images/calendar.png);*/
/*}*/
.btnTabLink{
    color:#fff !important;
    outline:0 !important;
    box-shadow:none  !important;
    text-decoration:none;
}
.btnTabLink::before{
    content:url(https://project.granddubai.com/sendlow/css/images/arrowDwn.png);
}
.btnTabLink:hover{
    text-decoration:none;
    color:#000 !important;
}

/* _______________________________Common css end___________________________________ */

    /* The actual timeline (the vertical ruler) */
    .trackTimeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .trackTimeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #888;
    top: 0;
    bottom: 1vh;
    left: 3%;
    margin-left: -3px;
  }

/* Container around content */
.visitedTab {   
    position: relative;  
  }
  
  /* The circles on the timeline */
  .visitedTab::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #888; 
    color:#fff;
    top: 6px;
    border-radius: 50%;
    z-index: 1;
    left: 0;
    margin-left: -33px;
  }
 .visitedTab.checked{
        background-color: #fff;
        box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
        -webkit-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
        color:#000;
        }
  .cnt1::after{
  content:'1';
}
.cnt2::after{
      content:'2';
  }
  .cnt3::after{
      content:'3';
  }
    .cnt4::after{
      content:'4';
  }
      .cnt5::after{
      content:'5';
  }
  
  
    .cnt1.active::after,.cnt2.active::after,.cnt3.active::after,.cnt4.active::after,.cnt5.active::after{
    background-color:#ff6200;
}
  
  .cnt1.checked::after,.cnt2.checked::after,.cnt3.checked::after,.cnt4.checked::after,.cnt5.checked::after{
   background-color: green;
      content:url(https://project.granddubai.com/sendlow/css/images/icnWCheck.png);
}


.icnLoc{
    position: absolute;
    bottom: 0;
    margin-bottom: 29%;
    margin-left: 5%;
}

.topBar{
    color:#fff;
    font-size: 12px;
    padding: 5px;
}
.dropdown.show .dropdown-toggle{
background-color: #fff;
color: #4d148c !important;
}
.mrgRmv{
    margin-top: -2px;    
}
.fxdWidth{
    min-width: 197px;
}
.fxdWidth_1{
    min-width: 100px;
}
.visitedTab:hover{
    text-decoration: none;
}

.visitedTab.focus, .visitedTab:focus{

    color:#000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: none;
    }

    .visitedTab.reached {
        background-color: #fff;
        box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
        -webkit-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
        color:#000;
        }
/* _______________________________Topbar dropdown___________________________________ */
/* _______________________________Track shipment___________________________________ */
.track {
    position: relative;
    background-color: #ff6200;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #4d148c
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #4d148c;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ff6200
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}
/* _______________________________Buttons___________________________________ */
.btnPrm{
    background-color:#4d148c ;
    border:2px solid #4d148c;
    color: #fff;
    border-radius: 25px;
}
.btnPrm:hover,.btnPrm:active{
    background-color:transparent ;
    color: #4d148c;
}
.btnSec{
    background-color:#ff6200 ;
    border:2px solid #ff6200;
    color: #fff;
    border-radius: 0px;
}
.btnSec:hover,.btnSec:active{
    background-color:transparent ;
    color: #ff6200;
}


/* _______________________________Buttons end___________________________________ */
.bnr{
/*background: url(../images/banner.jpg) no-repeat;*/
background-size: cover;
color: #fff;
border-radius: 0px;
}

.icnLst img{
    border: 2px solid #4d148c;
    padding: 10px;
    border-radius: 100px;
    color:#202020;
}
.icnLst .arw{
    width:200px;
    position: absolute;
    padding: 0px;
    border:none;
    border-radius: 0px;
    top: 0;
    right: 0;
    margin-right: -100px;
    margin-top: 25px;

}
/* _______________________________Banner Tab___________________________________ */
.bnrTabLink .nav-link{
    background-color: #ff6200;
    color:#fff;
    border:0px;
    font-size: 14px;
}
.bnrTabLink .nav-item.show .nav-link, .bnrTabLink .nav-link:hover, .bnrTabLink .nav-link.active{
    background-color: #4d148c;
    color:#fff;
}

.bnrTabLink .nav-link:active,.bnrTabLink .nav-link:focus{
    background-color: #4d148c;
    color:#fff;
}

.bnrTab{
    background-color: rgb(255 255 255 / 80%);
    border-radius: 10px;
    margin-top: 1px;
}
.regTablink .nav-link{
    background-color: #ffffff;
    color:#000;
    border:0px;
    font-size: 14px;
    padding-top:15px;
    padding-bottom: 15px;
}
.regTablink .nav-item.show .nav-link, .regTablink .nav-link:hover, .regTablink .nav-link.active{
    background-color: #ff6200;
    color:#fff;
}

/* ------------------------------------Address book tab ------------------------------ */
.addTablink .nav-link{
    background-color: #fff;
    color:#000;
    border:1px dashed #b1b1b1;
    font-size: 25px;
}
.addTablink .nav-item.show .nav-link, .addTablink .nav-link:hover, .addTablink .nav-link.active{
    border:1px solid #ff6200;
}

/* _______________________________Slider___________________________________ */
.testiMonial {
   
    margin: auto;
    text-align: center;
}
.testiMonial .carousel-item img{
    height:100px;
    border-radius: 100px;
    border:2px solid #888;
}
.clientSay .carousel-indicators {
    
    bottom: -50px !important;
}

.custom-file-label::after{
    content: url(https://project.granddubai.com/sendlow/css/images/icnUpload.png);
    background-color: transparent;
    border-left: 0px;
}

/* _______________________Table style____________________________ */
.table td, .table th {
    vertical-align: middle;
    white-space:nowrap;
}
.rowBdr.table td:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}
.rowBdr.table td, .table th{
    border:0px;
}
.rowBdr.table tr{
    border-bottom: 1px solid rgb(214, 214, 214);
}

.py5.table td, .py5.table th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
}
.bdrB.table-light tbody, .bdrB.table-light td, .bdrB.table-light th, .bdrB.table-light thead th{
    border:1px solid #b1b1b1;  
}
.bdrB.table-light thead th{
    background-color: #4d148c;
    color:#fff;
    font-weight: normal;
}
.bdrRmv>td{
border:0px !important;
}

.icnTrack span{
    background-color: transparent;
    border: none;
    font-size: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}
/* ------------------------Address list card------------------------------ */
.addCard .card{
    min-width:180px;    
    /* max-width:180px; */
    display:flex;
    flex-wrap:wrap;
    margin: 5px;
}
.addCard .card-body{
    padding: 0px;
}
.addCard .text-secondary{
    font-size: 12px;
}
.addCard .viewMore .card-link[aria-expanded="true"]{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

/* ------------------------tracking line------------------------------ */

* {
    box-sizing: border-box;
  }
   
  
  /* The actual timeline (the vertical ruler) */
  .timeline2 {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline2::after {
    content: '';
    position: absolute;
    width: 1px;
    border: 1px dashed;
    top: 0;
    bottom: 0;
    left: 20%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .tmLineCont {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 70%;
  }
  .tmLineCont.tLeft {
    width: 20%;
  }
  
  /* The circles on the timeline */
  .tmLineCont::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    background-color: #ffffff;
    border: 2px solid #4d148c;
    /* background-color: #4d148c;
    border: 4px double #ffffff; */
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .tmLineCont.processed::after {
   
    background-color: #4d148c;
    border: 4px double #fff;

  }
  
  /* Place the container to the left */
  .tLeft {
    left: 0;
  }
  
  /* Place the container to the right */
  .tRight {
    left: 20%;
    margin-top: -127px;
  }
  
  /* Add arrows to the left container (pointing right) */
 
  
  /* Add arrows to the right container (pointing left) */

  
  /* Fix the circle for containers on the right side */
  .tRight::after {
    left: -15px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline2::after {
    left: 31px;
    }

    
    /* Full-width containers */
    .tmLineCont{
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    .tmLineCont.tLeft {
    width: 100%;
  }
    
    
    
    /* Make sure that all arrows are pointing leftwards */
    .tmLineCont::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .tLeft::after, .tRight::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .tRight {
    left: 0%;
    }
    .track .text{
        font-size:10px;
    }
    .tmLineCont.tLeft {
        z-index: 1;        
      }
      .tmLineCont.tRight .card {
        margin-top:80px;        
      }
      
  }


/* _______________________footer style____________________________ */
footer .icnFnt a{
    font-size: 25px;
    color:#000;
padding: 0px 10px;
}
footer .lh-lg{
    line-height: 2.5;
}
/* _______________________Media qry____________________________ */


@media screen and (min-width: 768px) {
    .btnRgt{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .frmCtrlFxd{
        width: 50%!important;
        float:left;
    } 
    .px-7{
        padding: 0px 70px;
    } 
    .spcWrap{
        white-space: normal !important;
    } 
    .fxdWid2{
        width:150px;
    }
    .fxdWid3{
        width:250px;
    }
    .absBtn{
    position: absolute;
    right: 0;
    top: 0;
    width: 145px !important;
}
.mT32{
    margin-top:32px;
}
.mT100{
    margin-top:100px;
}
.btnRgtTop{
    position: absolute !important;
    right: 0;
    margin-top: 30px;
    min-width: 145px;
}
.btnRgtBtm{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 100px;
}

}
@media screen and (min-width: 1200px) {

    .frmCtrlFxd{
        width: 60%!important;       
    }
    .fxdWid4{
        width:38%;
    }
    .fxdWid6{
        width:60%;
    }

}
@media screen and (max-width: 1200px) {
    .icnLst .arw{       
        width: 140px;
        margin-right: -70px;
    }
}
@media screen and (max-width: 991px) {
    .visitedTab::after {
        margin-left: -40px;
      }
}
@media screen and (max-width: 768px) {
    .icnLst .arw{       
        width: 80px;
        margin-right: -40px;
    }
}
@media screen and (max-width: 600px) {
    .icnLst .arw{
       content:url(https://project.granddubai.com/sendlow/css/images/arwDown.png);
       width: 40px;
       left: 0;
       margin-left: 43%;
       bottom: 0;
       margin-bottom: -10%;
       opacity:.5;
       top: auto;
    } 
    .w100 .nav-item{
        width:100%;
    }
    .addTablink .nav-link{
        font-size: 16px;
        padding: 15px 7px;
    }
    .wdFull{
        width:100%;
    }
    .visitedTab::after {
        margin-left: -40px;
      }
      .trackTimeline::after{
        margin-left: 10px;
      }
      .visitedTab.focus, .visitedTab:focus{
        font-size: 14px;       
        }
}

