.page-header.navbar .page-logo {
    background: #000;
}
 .popover{
        max-width:600px;
    }
.__itm_crtimg {
	width: 80px;
	height: 80px;
	float: left;
	padding: 4px;
	margin-right: 15px;
	margin-bottom: 10px;
	overflow: hidden;
	background: #fff;
	border: #ddd 1px solid;
}
.page-header.navbar .page-logo .logo-default {
    margin: -2px 0 0;
}

.page-footer-inner a{
    color:#fff;
}

.page-footer-inner a:hover{
    color:#ccc;
}
.jconfirm.jconfirm-modern.jconfirm-open .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    font-size: 36px;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.Cancelled,.cancelled{
        background: #ef0fc9;
}
.Received{
    background: #1030cc;
}
.Preparing {
        background: #FF9800;
}
.Sended {
    background: #FF9800;
}
.dispatched{
    background: #562f8a;
}

.__ccboxupithu{
    width: 150px;
    float: left;
}
.__ccboxupithu .thumbnail>img{
        object-fit: cover;
    height: 125px;
}


@media (max-width: 767px)  {
    .page-header.navbar .page-logo {
        padding-left: 10px !important;
        padding-right: 20px;
    }
}